@import url("https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: rgba(82, 95, 99, 0.767);
  background-attachment: fixed;
  bottom: 0;
  overflow-x: hidden;
}

@keyframes animar {
  0% {
    transform: scale(1.01, 1.01);
  }
  10% {
    transform: scale(1.02, 1.02);
  }
  20% {
    transform: scale(1.03, 1.03);
  }
  30% {
    transform: scale(1.04, 1.04);
  }
  40% {
    transform: scale(1.05, 1.05);
  }
  50% {
    transform: scale(1.04, 1.04);
  }
  60% {
    transform: scale(1.03, 1.03);
  }
  70% {
    transform: scale(1.02, 1.02);
  }
  80% {
    transform: scale(1.01, 1.01);
  }
  100% {
    transform: scale(1, 1);
  }
}
.menu {
  display: flex;
  justify-content: end;
  margin: 10px;
}
.menu li {
  display: inline;
  margin: 10px;
}
.menu a {
  color: rgb(180, 174, 174);
  font-family: "Signika", sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}
.menu a:hover {
  color: #060c08;
  transition: all 1s;
}

.content {
  display: grid;
  grid-template-areas: "logo titulo titulo" "contenido contenido contenido";
  grid-template-columns: 210px auto auto;
  grid-template-rows: 210px auto auto;
}
.content__logo {
  grid-area: logo;
  align-self: center;
  display: flex;
}
.content #logo {
  width: 200px;
  height: 200px;
  animation: animar 3s;
  animation-iteration-count: infinite;
  margin: auto;
}
.content__titulo {
  /*funciona para todas las paginas*/
  grid-area: titulo;
  align-self: center;
  justify-self: center;
}
.content__titulo h1 {
  color: #060c08;
  font-family: "Signika", sans-serif;
  font-size: 60px;
  display: flex;
}
.content__contenido {
  /*pag home*/
  color: #060c08;
  font-family: "Signika", sans-serif;
  grid-area: contenido;
  font-size: 40px;
  align-self: center;
  justify-self: center;
  display: flex;
  margin: 50px;
}

.content__galeria {
  /*galeria*/
  grid-area: contenido;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.content__galeria__cuadro {
  width: 271px;
  height: 243px;
  border-radius: 35px;
  margin: 15px;
  transition: all 0.3s ease;
  filter: grayscale(50%);
}
.content__galeria__cuadro:hover {
  filter: grayscale(0%);
  transform: scale(1.03);
}

.content__cerveza {
  /* cervezas*/
  grid-area: contenido;
  justify-self: center;
  display: grid;
  grid-template-areas: "foto1 texto1" "foto2 texto2" "foto3 texto3" "foto4 texto4";
  grid-template-columns: 232px auto;
  grid-template-rows: 201px auto;
  margin: 10px;
}
.content__cerveza__foto {
  width: 232px;
  height: 201px;
  margin: 20px;
  border-radius: 35px;
  justify-self: center;
  align-self: center;
}
.content__cerveza #foto1 {
  grid-area: foto1;
}
.content__cerveza #foto2 {
  grid-area: foto2;
}
.content__cerveza #foto3 {
  grid-area: foto3;
}
.content__cerveza #foto4 {
  grid-area: foto4;
}
.content__cerveza__texto {
  color: #060c08;
  font-family: "Signika", sans-serif;
  font-size: 25px;
  justify-self: center;
  align-self: center;
  margin: 10px;
}
.content__cerveza__texto #text1 {
  grid-area: texto1;
}
.content__cerveza__texto #text2 {
  grid-area: texto2;
}
.content__cerveza__texto #text3 {
  grid-area: texto3;
}
.content__cerveza__texto #text4 {
  grid-area: texto4;
}

footer {
  color: rgb(180, 174, 174);
  font-family: "Signika", sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  position: relative;
  bottom: 0;
}

/*contacto*/
.contacto {
  grid-area: contenido;
  justify-self: center;
  font-family: "Signika", sans-serif;
  margin: 5px;
}
.contacto .boton {
  color: #060c08;
  background-color: rgb(180, 174, 174);
  margin: 5px;
}

@media (max-width: 768px) {
  .content {
    grid-template-areas: "logo logo logo" "titulo titulo titulo" "contenido contenido contenido";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .content__cerveza {
    grid-template-areas: "foto1" "texto1" "foto2" "texto2" "foto3" "texto3" "foto4" "texto4";
    grid-template-columns: 200px;
    grid-template-rows: 200px;
  }
}

/*# sourceMappingURL=estilo.css.map */
