@keyframes animar {
    0% {
      transform: scale(1.01, 1.01);
    }
    10% {
      transform: scale(1.02, 1.02);
    }
    20% {
      transform: scale(1.03, 1.03);
    }
    30% {
      transform: scale(1.04, 1.04);
    }
    40% {
      transform: scale(1.05, 1.05);
    }
    50% {
      transform: scale(1.04, 1.04);
    }
    60% {
      transform: scale(1.03, 1.03);
    }
    70% {
      transform: scale(1.02, 1.02);
    }
    80% {
      transform: scale(1.01, 1.01);
    }
    100% {
      transform: scale(1.00, 1.00);
    }
    
  }