* {
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
    background: rgb(19, 17, 17);
    background: linear-gradient(
      360deg,
      rgba(19, 17, 17, 1) 0%,
      rgba(180, 174, 174, 1) 50%,
      rgba(19, 17, 17, 1) 100%
    );
    background-attachment: fixed;
    bottom: 0;
    overflow-x: hidden;
  }